APP_NAME=AI Poxy Tools
APP_ICON=icons/app.ico
APP_DEVELOPER=Ying Xinyao
APP_WEBSITE=https://newapi.loserrc.com/
APP_PROJECT_URL=https://github.com/loserrc/AI-Poxy-tools

# Update settings
APP_VERSION=v1.2.2
UPDATE_CHECK_URL=https://raw.githubusercontent.com/loserrc/AI-Poxy-tools/main/latest.json
